*{
    margin: 0px;
    padding: 0%;
   
}
.container{
   
    padding: 20px;
    list-style: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.menus{
    display: flex;
    position: relative;
    right: 120px;
}

.logos{
    width: 120px;
    padding-left: 260px;
   
   
}
.item{
    margin: 10px;
    padding-right: 7px;
    font-size: 18px;
    color: black;
 
}
.item:hover{
    background-color: lightgray;
}
.image{
    width: 520px;
    padding-bottom: 200px;
    position: relative;
    right: 55px;
}
.banner-container{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    border: 2px solid gray; 
    color: white;
    align-items: center;
background-image: url("./black.png");
/
 
    
}
.title{
    font-size: 55px;
    font-weight: bold;
    color: black;
    padding-bottom: 100px;
    color: #8758F1 100%;
}
.description{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.goat{
    font-size: 65px;
    font-weight: bolder;
    color: black;
    padding-bottom: 100px;
    color: rgb(243, 45, 24) ;
}
.G{
    color: #ee3491;
}
.gamer{
    color: black;
    font-size: 2em;
    padding-right: 600px;
    
    
}
.youtube{
    padding-top:6px;
    padding-right: 20px;
}
.gaming{
    color: black;
}
.para{
    color: black;
    padding-left: 20px;
    padding-bottom: 100px;
    position: relative;
    left: 30px;
    bottom: 25px;
   

}
.banner-section{
    display: flex;
    padding-bottom: 200px;
}
.btn{
  margin-top: 25px;
   background-color: red;
    color: white;
    border: 2px;
    border-radius:20px;
    height: 50px;
    width: 100px;
    position: relative;
    right: 440px;
    bottom: 10px;
}
.buttons{
    display: flex;
    justify-content: baseline;
    
}
.btn-2{
    margin-top: 25px;
    background-color: rgb(60, 170, 238);
     color: white;
     border: 2px;
     border-radius:20px;
     height: 50px;
     width: 100px;
     position: relative;
     right: 420px;
     bottom: 10px;
}
.about{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    padding: 10px;
}
.about-info{
    justify-content: right;
}

.first{
    position: relative;
    bottom: 100px;
}
.second{
    position: relative;
    bottom: 65px;
    right: 143px;
}
.third{
    position: relative;
    bottom: 27px;
    right: 257px;
}
.btn-3{
    background-color: rgb(60, 170, 238);
    color: white;
    border: 2px;
    border-radius:20px;
    height: 50px;
    width: 100px;
    position: relative;
    top: 15px;
    

}
.main-para{
    position: relative;
    top: 30px;
    text-overflow: ellipsis;
    
}
.main-para-2{
    font-size: 25px;
}
.image-2{
    width: 520px;
    padding-bottom: 200px;
    position: relative;
    left: 105px;
    top: 120px;
    

}
.goat-2{
    font-size: 65px;
    font-weight: bolder;
    color: black;
    padding-bottom: 100px;
    color: rgb(243, 45, 24) ;
    position: relative;
    top: 70px;
}
.service-containers{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-color: white;
    height: 260px;
}
.featured-title{
    text-align: center;
    margin-top: 100px;
    font-weight: bold;
    position: relative;
    bottom: 100px;
}
.featured-text{
    text-align: center;
    justify-content: center;
    position: relative;
    bottom: 30px;
}


.pic{
    width: 240px;
    height: 280px;;
    flex-shrink: 0;
    position: relative;
    /* top: 50px; */
}
#funny{
    color: rgb(243, 45, 24);
    font-weight: bold;
    font-size: 1.2em;
}
.funny-text{
    position:relative;
    bottom: 65px;
    font-size: 0.8em;
}
.name{
    display: flex;
   justify-content: center;
   text-decoration: none;
   margin-top: 10px;
}
.about-2{

}
.about-info-2{

 }
 .image-3{
    width: 420px;
    padding-bottom: 200px;
    position: relative;
    right: 60px;
    top: 120px;
 }
 .goat-3{
    font-size: 35px;
    font-weight: bolder;
    color: black;
    padding-bottom: 100px;
    color: rgb(243, 45, 24) ;
    position: relative;
    top: 70px;

 }
 .upper
{
    height: 180px;
    width: 150px;
    position: relative;
    bottom: 50px;
    top: 220px;
    z-index: 10px;
    left: 560px;
    
}
.heading{
    background-color:rgb(248, 62, 124);  
    height: 70vh;
    display: flex;
    justify-content:center;
    border: 2px solid gray;
    align-items: center;
    
    /* flex-shrink: 0; */

}
.heading-image{

    height: 700px;
    /* width: 680px; */
    position: relative;
  
}
.users
{height: 40vh;

}
.last-section{
    background-color: black;
    height: 65vh;
   
   

}
 .logos-2{ 
    width: 60px;
    padding-left: 260px;
    position: relative;
    left: 380px;
    top: 64px;
}
.G-2{
    color: #ee3491;
}
.gamer-2{
    color: black;
    font-size: 2em;
   
    position: relative;
    
    top:20px;
   display: flex;
  justify-content: center;
    
    
}
.white {
    color: white; 
}
.list{
    position: relative;
    top: 80px;
    color: white;
    
    display: flex;
    justify-content: space-evenly;
}
.text-last{
    color: white;
    position: relative;

}
.white-2{
    color: white;
    position: relative;
    top: 290px;
    right: 150px;
    font-size: 2em;

}
.p-para{
    position: relative;
    right:150px;
    top: 300px;
    color: rgb(212, 205, 205);
}
.un-li{
    color: white;
    position: relative;
    top:350px;
    right: 130px;
   
}

.heading-image {
    position: relative;
    left: 200px;
    bottom: 160px;
}
.list-2{
    color: white;
    position: relative;
    top: 238px;
    left: 130px;
}
.btn-4{
    background-color: rgb(60, 170, 238);
    color: white;
    border: 2px;
    border-radius:20px;
    height: 50px;
    width: 150px;
    position: relative;
    bottom: 360px;
    right: 150px;
    font-weight: bold;
}
.footer-likha{
    color: white;
    display: flex;
    justify-content: space-evenly;
    
   position: relative;
   top: 250px;

}
.likha{
    color: lightslategray;
}
.likha-last{
    color: lightslategrey;
    display: flex;
    justify-content: center;
    position: relative;
    top: 280px;
}
.social{
    width: 200px;
    display: flex;
    
    justify-content:space-between;
   
    position: relative;
    top: 110px;
    left: 640px;
    font-size: 50px;
    color: white;
}
















@media screen and (max-width: 576px;){
    header{
        padding: 20px;
    }
   
    section{
        flex-direction: column;
    }
}